*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

/*--=====================================
=            BARRA DE NAVEGACION        =
========================================*/

.recuadro-superior{
    background-color: rgb(175, 200, 177);
    margin-top: 0;
    width: 100vw;
    height: 80px;
    
}

.img-logo{
    width: 150px;
    position: absolute;
    z-index: 50;
    margin: 30px;
}

.container-fluid{
    
    position: relative;
}
.recuadro-inferior{
    background-color: rgb(175, 200, 177);
    margin-top: 0;
    width: 100vw;
    height: 20px;
    
    
}

/*--=====================================
=                  BODY                =
========================================*/

.hero-section{
    background-color: rgb(237, 234, 230);
    padding: 120px 0px;
}

/*--=====================================
=            GALERÍA DEL HOME           =
========================================*/

.galeriahome{
    max-width: 1000px;
    margin: auto;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 300px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
    

}

.galeriahome__item{
    background-color: rgb(220, 136, 34);

}

.galeriahome__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeriahome__item--1{
    grid-column:span 2;
    grid-row: span 2;
}

.galeriahome__item--2{
    grid-column:span 1;
    grid-row: span 1;

}
.galeriahome__item--3{
    grid-column:span 1;
    grid-row: span 1;

}

.galeriahome__item--4{
    grid-column:span 2;
    grid-row: span 1;

}

/*--=====================================
=            RESPONSIVE HOME            =
========================================*/
@media(max-width: 1024px){
    .galeriahome{
        
        margin: 30px;
    }    
}

@media(max-width: 768px){
    .galeriahome{
        
        margin: 30px;
        grid-template-columns: repeat(3, 1fr);   
    }     
    .galeriahome__item--2{
        grid-column:span 1;
        grid-row: span 2;    
    } 
}

@media(max-width: 600px){
    .galeriahome{
        
        margin: 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;    
    } 
}


/*--=====================================
=          GALERÍA DE LA CAFETERÍA    =
========================================*/

.galeriacafeteria{
    max-width: 1100px;
    margin: auto;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-columns: 300px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
    

}

.galeria__item{
    position: relative;
    overflow: hidden;
}


.galeriacafeteria__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeriacafeteria__item--1{
    grid-column:span 4;
    grid-row: span 4; 
}

.galeriacafeteria__item--2{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriacafeteria__item--3{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriacafeteria__item--4{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriacafeteria__item--5{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriacafeteria__item--6{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriacafeteria__item--7{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriacafeteria__item--8{
    grid-column:span 4;
    grid-row: span 2; 
}

/*--=====================================
=          GALERÍA DE LA PANADERIA    =
========================================*/

.galeriapanaderia{
    max-width: 1100px;
    margin: auto;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 300px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
    

}


.galeriapanaderia__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeriapanaderia__item--1{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriapanaderia__item--2{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriapanaderia__item--3{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriapanaderia__item--4{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriapanaderia__item--5{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriapanaderia__item--6{
    grid-column:span 2;
    grid-row: span 2; 
}
.galeriapanaderia__item--7{
    grid-column:span 1;
    grid-row: span 2; 
}
.galeriapanaderia__item--8{
    grid-column:span 3;
    grid-row: span 2; 
}

/*--=====================================
=          GALERÍA DE PASTELERIA        =
========================================*/

.galeriapasteleria{
    max-width: 1100px;
    margin: auto;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-columns: 300px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
    

}


.galeriapasteleria__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeriapasteleria__item--1{
    grid-column:span 3;
    grid-row: span 2; 
}

.galeriapasteleria__item--2{
    grid-column:span 3;
    grid-row: span 2; 
}

.galeriapasteleria__item--3{
    grid-column:span 3;
    grid-row: span 2; 
}

.galeriapasteleria__item--4{
    grid-column:span 3;
    grid-row: span 2; 
}

.galeriapasteleria__item--5{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriapasteleria__item--6{
    grid-column:span 2;
    grid-row: span 2; 
}
.galeriapasteleria__item--7{
    grid-column:span 2;
    grid-row: span 2; 
}



/*--=====================================
=          GALERÍA DE LA BRUNCH    =
========================================*/

.galeriabruch{
    max-width: 1100px;
    margin: auto;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-columns: 300px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
    

}


.galeriabruch__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeriabruch__item--1{
    grid-column:span 3;
    grid-row: span 2; 
}

.galeriabruch__item--2{
    grid-column:span 3;
    grid-row: span 2; 
}

.galeriabruch__item--3{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriabruch__item--4{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriabruch__item--5{
    grid-column:span 2;
    grid-row: span 2; 
}

.galeriabruch__item--6{
    grid-column:span 3;
    grid-row: span 2; 
}
.galeriabruch__item--7{
    grid-column:span 3;
    grid-row: span 2; 
}






/*--=====================================
=                 OVERLAY               =
========================================*/
.galeria__overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    transform: translateY(100%);
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;

}

.galeria__text{
    width: 100%;
    color:white;
    text-align: center;
}

.galeria__item:hover .galeria__overlay {
    transform: translateY(0%);
}




/*--=====================================
=         RESPONSIVE CAFETERIA          =
========================================*/
@media(max-width: 1200px){
    .galeriacafeteria{
        
        margin: 30px;
    }    
}



/*--=====================================
=                 FOOTER                =
========================================*/

.contenedor-footer{
    width: 100vw;
    padding: 50px;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 300px;
    justify-self: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgb(175, 200, 177);
    font-family: "Arsenal SC", sans-serif;
    

}

.contenido-footer h5{

    text-align: center;
    margin-bottom: 20px;
    
}

.contacto{
    text-align: center;
}

.redes{
    grid-column:span 3;
    text-align: center;
}

.icon-redes a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    padding: 10px;
    
}