footer{
    font-family: "Arsenal SC", sans-serif;
    font-style: normal;
    background-color: rgb(175, 200, 177);

    @include xl{
        margin:auto;
    }

    .container-footer{
        grid-column:span 3;    
        font-family: "Arsenal SC", sans-serif; 
    }

    .card-body{
        margin: 20px;

        @include mobile{
            width: 120px;
        }
    }

    .redes{
        grid-column:span 3;
        text-align: center;

        .icon-redes a{
            text-decoration: none;
            color: black;
            font-size: 40px;
            padding: 10px;
        }
    }
}